						

		
    				/* base style*/
body
{
  margin:0px;
  padding:0px;
}            
section
{

 
  padding:20px;
  margin:0px;
}
.container
{
  margin: 0px;
	width: 100%;
  padding:0px;
 
}
.realbox1, .realbox2, .realbox3
{
 
  font-family: Arial, sans-serif ;
  position: relative;
  border: 1px solid black;
  padding: 10px;

}
h2
{
  background-color: #E6E6FA;
	position: absolute;
	text-align: center;
	width: 33.33%;
	border: 1px solid black;
	top:0px;
	right: 0px;
	margin-top: 0px;
  text-transform: capitalize;
 
  border-right:none;
  border-top: none;
}
p
{
	position: relative;
	top:20px;
	clear:both;
}

h1{
  text-transform: capitalize;
	text-align: center;

}


.realbox1
{
  background-color: #B5D6C3;

}
.realbox2
{
  background-color: #6D99B4;
}
.realbox3
{
  background-color: #FF8C69;
  
}

@media  (min-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
  {
    float: left;

  }
  .col-lg-4 {
    width: 33.33%;

  }
  .col-lg-6 {
    width: 50%;


  }

  .col-lg-12 {
    width: 100%;
  }
}

@media (max-width: 991px)  and (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;


  }
  
  .col-md-4 {
    width: 33.33%;

  }
  .col-md-6 {
    width: 50%;


  }

  .col-md-12 {
    width: 100%;
  }
}
